<div class="page-header"><h3>天津国际生物医药联合研究院</h3></div>
<div class="well">
  <div class="col-sm-7">
    <img class="thumbnail tjab-home" src="./assets/img/tjab.jpg">
  </div>
  <div class="">
    <h6>
      为了贯彻党中央、国务院推进天津滨海新区开发开放的战略部署，培育新的经济增长点，
      带动我国生物技术和医药产业的跨越发展，中华人民共和国科技部、商务部、卫生部、
      国家食品药品监督管理局与天津市人民政府决定在天津滨海新区共建“国家生物医药国际创新园”
      （简称“创新园”）。天津国际生物医药联合研究院（以下简称“联合研究院”）作为创新园的核心和标志，
      由天津市政府投资11亿元率先启动建设，坐落于天津经济技术开发区洞庭路220号，占地340余亩，
      规划建筑面积35万平方米，7万平米的一期工程大楼已于2009年6月投入使用。
    </h6>
    <h6>
      联合研究院实行理事会领导下的院长负责制。下设综合办公室、平台运营和科研部、安全保障和资产管理部、事业发展部、投资发展部、
      产品研发部、产品营销部、GMP项目部、高通量分子药物筛选中心和生物工程药物开发中心等部门。</h6>

    <h6>联合研究院院长为饶子和，天津市政协原副主席，南开大学原校长，现任国际纯粹与应用生物物理联合会（IUPAB）主席，中国科学院院士。
      从事结构生物学研究三十余年，取得了一系列重要的原创性的研究成果，在国际学术刊物上发表论文280余篇，包括《自然》（Nature）、
      《细胞》（Cell）和《美国科学院院刊》系列论文20余篇，申报国家发明专利123项。历任清华大学教授，中科院生物物理所所长、
      学术委员会主任，生物大分子国家重点实验室主任等职。2009年获英国教育机构颁发的“杰出学术领袖奖”。
    </h6>
    <h6>
      2009年6月25日，联合研究院历时14个月建设完成，正式投入运营。中共中央政治局常委、时任天津市委书记张高丽，中共中央政治局委员、国务委员刘延东为联合研究院揭牌，标志着联合研究院进入正式运营阶段。

      技术研发

      在“十一五”和“十二五”期间，联合研究院连续承担了“重大新药创制”国家科技重大专项“系列化、国际化的国家生物医药国际创新园新药研发综合性大平台”的建设和提升，始终坚持“开放联合，以创新为驱动，以服务为目标”的主题，广泛集成优势资源，建设了药物发现平台、药物分析测试平台、药物研发信息平台、生物药GMP中试平台、中药新药研发平台和临床研究平台等核心技术平台，并集全市之力，依托天津市优势产学研机构，联合天津市肿瘤医院、泰达国际心血管病医院、凯莱英生命科学技术（天津）有限公司、药明康德新药开发有限公司等建设了系列化的支撑技术平台，涵盖了药物早期发现、临床前研究、临床试验、中试生产等药物开发的各个环节，配备了与国际接轨的现代化仪器设备，能够充分满足进驻联合研究院的研发团队需要。

      项目引进与国际合作

      联合研究院创造了“政府搭台、市场机制；国有资产、企业运营，不设围墙、开放联合，国际合作、多边认证”的滨海模式，在注重打造符合国际标准的综合性技术平台体系的同时，更加强调对外提供全面、优质、高效的技术和孵化服务，引进优秀生物医药项目和人才，并为一大批创新药物的研究开发、企业技术的升级优化和人才团队的创新创业提供了有力的支撑和服务。与此同时，联合研究院广泛开展与欧美主要发达国家的科研机关以及国际著名制药企业之间的交流与合作。联合研究院与赛诺菲集团、诺贝尔奖得主哈特韦尔（Leland·Hartwell）教授团队、中德生物科技园、英国国家医学研究院、澳大利亚Antisense（ATL）上市生物制药公司等签署了合作协议并开展项目合作，并与美国强生公司、美国默克公司、比利时优时比（UCB）公司、韩国三星集团、法国益普生公司和美国赛默飞世尔（Thermo Fisher）公司等几十家国际大型企业建立交流渠道，积极推进相关合作事宜。
    </h6>
  </div>
</div>