@import "../node_modules/fullcalendar/dist/fullcalendar.min.css";

html, body {
    /* Margin bottom by footer height */

    /*margin-bottom: 60px;*/
    height: 100%;
}

footer {
    background-color: transparent;
    border-top: 0px;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}

.foot {
    border-top: 1px solid #eeeeee;
    padding-top: 15px;

}
