@import "../node_modules/fullcalendar/dist/fullcalendar.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/bootstrap/theme.css";

html, body {
    /* Margin bottom by footer height */

    /*margin-bottom: 60px;*/
    height: 100%;
}
.tjab-home{
    /*margin: 0 auto;*/
    width: 95%;
}
footer {
    background-color: transparent;
    border-top: 0px;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}

.foot {
    border-top: 1px solid #eeeeee;
    padding-top: 15px;
    /* todo: clean this code*/
    margin-top: 500px;

}
