<div class="panel panel-default">
  <div class="panel-heading"><h6>{{title}}</h6></div>
  <div class="panel-body">
    <ul class="nav nav-stacked">
      <li [class.selected]="0 === currentDepartmentID">
        <a (click)="select(0)" >
        所有平台
      </a>
      </li>
      <li *ngFor="let department of departmentList" [class.selected]="department.id === currentDepartmentID">
        <a (click)="select(department.id)">
          {{department.name}}
        </a>
      </li>
    </ul>
  </div>
</div>